:root {
  --primary: #00b997;
  --black: #24285b;
}

h1 {
  font-size: 40px;
  color: var(--black);
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.button {
  border-radius: 5px;
  background-color: var(--primary);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border: 2px solid transparent;
  transition: all 220ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
  background-color: var(--black);
}
